<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gis.xian.mapper.XianSubwayStationsMapper">

    <resultMap id="BaseResultMap" type="com.gis.xian.entity.XianSubwayStations">
            <id property="id" column="id" />
            <result property="stationName" column="station_name" />
            <result property="line" column="line" />
            <result property="pointName" column="point_name" />
            <result property="referToTheWaterAccumulationPoint" column="refer_to_the_water_accumulation_point" />
            <result property="depthOfAccumulatedWater" column="depth_of_accumulated_water" />
            <result property="accumulatedWaterAfterAccounting" column="accumulated_water_after_accounting" />
            <result property="pointOtherDefenses" column="point_other_defenses" />
            <result property="lon" column="lon" />
            <result property="lat" column="lat" />
            <result property="point" column="point" />
            <result property="isDelete" column="is_delete" />
    </resultMap>

    <sql id="Base_Column_List">
        id,station_name,line,point_name,refer_to_the_water_accumulation_point,depth_of_accumulated_water,
        accumulated_water_after_accounting,point_other_defenses,lon,lat,point,
        is_delete
    </sql>

    <!-- 获取所有地铁站点基础点 -->
    <select id="getBasePoints" resultMap="BaseResultMap">
        SELECT id, station_name, lon, lat FROM xian_subway_stations
        <where>
            is_delete = 0
        </where>
    </select>

    <!-- 根据id获取地铁站点详情 -->
    <select id="getPointDetailById" resultMap="BaseResultMap">
        SELECT id, station_name, refer_to_the_water_accumulation_point, depth_of_accumulated_water,
               accumulated_water_after_accounting, lon, lat FROM xian_subway_stations
        <where>
            id = #{id} AND is_delete = 0
        </where>
    </select>
</mapper>
